<html>
<title rel="shortcut icon" href="public/icon.ico"> Job Board</title>
<head>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="user.css">
     <link rel="stylesheet" href="font-awesome.min.css">
      
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
        
        


    
</head>
<style>
    .div1 {
        width: 600px;
        height: 120px;
        border: 3px solid cornflowerblue;
    }

    ul {
        list-style-type: none;
    }

    body {

        background-color: black;
    }
    @font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

div {
   font-family: myFirstFont;
}

.center {
    margin: auto;
    width: 18%;
    
    padding: 2px;
}

.site-footer {
  background: lightgray;
}

</style>
<div id="status"></div>

    <nav class="navbar navbar-inverse">
        <div class="container" style="font-family:Sansation Light">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" style="color:#000000">⚡Go Resume</a>
            
            <text style="float:">Job Board - Bringing you the latest jobs that you may find suitable</text>
        <a class="btn btn-success navbar-btn navbar-right" style="float: right"
                            role="button" href="https://harissiddiqui.github.io/goresume/" target="_blank" />Create</a>
                            <a class="btn btn-primary navbar-btn navbar-right" style="float: right"
                            role="button" href="../" target="_blank" />Home</a>
                            
                {{!--<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>--}}
            </div>
      
      
        </div> 
    </nav><hr> 
    <a href="http://localhost:3001"><center><h4> Explore Jobs at Rozee.pk</h4><center></a>
    
  <ul class="pagination">
    <li class="page-item"><a class="page-link">Categories</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000">IT</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/1">Engineering</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/2">Pilot</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/3">Sailor</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/4">Racer</a></li>
  </ul>
    <nav aria-label="Page navigation example" class="center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link">Indeed</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000">1</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/1">2</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/2">3</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/3">4</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:3000/4">5</a></li>
  </ul>
</nav>
    
<!-- {{#each products}}
    <h1><a href="{{this.link}}">{{this.source}}</a></h1> -->
{{!--<header class="w3-container w3-blue">
    
        <h1 style="font-family:Sansation Light">
           <center>Job Board- By Go Resume</center>
        </h1>
        <h3 style="font-family:Sansation Light">
            <center>Bringing you the latest jobs that you might find suitable</center>
        </h3>
    </header>--}}
{{!--
    <a class="btn btn-success navbar-btn" style="font-family:Sansation Light"
                            role="button" href="https://harissiddiqui.github.io/goresume/" target="_blank" />Home</a>
           <a class="btn btn-primary" style="font-family:Sansation Light"
                            role="button" href="https://harissiddiqui.github.io/goresume/" target="_blank" />Create Resume</a>--}}
<body background="img.jpg">
    <br/>
    <br/>
    <ul>
        {{#each this.items}}
        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-4">
                <div class="div1">
                    <li style="font-size: 20px"><a target="_blank" href="https://www.indeed.com{{this.link}}"> <strong>     {{this.title}}    </strong></a>
                        <li style="font-size: 18px"><a target="_blank" href="https://www.indeed.com{{this.link}}">At            <strong> {{this.company}}</strong>  </a></li>
                        <li style="font-size: 14px"><strong>In         </strong> {{this.location}}</li>
                        <li style="font-size: 14px"><strong>Dated      </strong> {{this.date}} </</li>
                            {{!--
                            <li><a target="_blank" href="https://www.indeed.com{{this.link}}"><strong>At         </strong>    {{this.company}}  </a></li>
                            <li><a target="_blank" href="https://www.indeed.com{{this.link}}"><strong>In         </strong>    {{this.location}} </a></li>
                            <li><a target="_blank" href="https://www.indeed.com{{this.link}}"><strong>Dated      </strong>    {{this.date}}     </a></li>
                            --}}
                </div>
            </div>
        </div>

        <br> {{/each}}

    </ul>

    {{/each}}
    <footer class="site-footer"  background="#d9d9d9">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Go Resume© 2017</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="https://www.facebook.com/Go-Resume-1813690295611919/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a
                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
</html>